# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 NomDeTom
# DEVELOPMENT ONLY: the hub from a checkout under /home/pi, as root, with no sandbox. Never
# install this on a box: install.sh writes the real unit (User=hub, ProtectSystem=strict and
# the rest). Kept for running the hub by hand while developing (BUILDING.md).
[Unit]
Description=Irate-Box hub
After=network.target

[Service]
ExecStart=/home/pi/irate-box/irate-box server
WorkingDirectory=/home/pi/irate-box
Restart=on-failure
Environment=PORT=8000
Environment=HUB_BIND=127.0.0.1
Environment=HUB_URL=http://192.168.4.1/

[Install]
WantedBy=multi-user.target
